@page
@model TWHelp.Areas.Forum.Pages.PostModel
@{
}

@section Header {
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
}

<style>
    .topic-page-link-button {
        border-radius: 40px;
        margin: 9px 10px;
        padding: 10px 10px;
        font-family: 'Poppins', sans-serif;
    }

        .topic-page-link-button > i {
            color: #8f8fa6;
        }

        .topic-page-link-button > i, .topic-page-link-button-active > i {
            font-size: 20px;
            margin: 0 10px 0 5px;
        }

    .topic-page-link-button-active {
        background-color: #f6f8ff;
        color: #6c4fff;
        border-radius: 40px;
        margin: 9px 10px;
        padding: 10px 10px;
        font-family: 'Poppins', sans-serif;
    }

    .topic-page-link-button:hover {
        background-color: #f2f0ff;
        color: #8f7fdb;
    }

    h1, h2, h3, h4, h5, h6, p {
        font-family: 'Varela Round', sans-serif;
    }

    .feed-background-image {
        background-image: url('../images/topic-answer.svg');
        background-repeat: no-repeat;
        background-size: 50% 100%;
        background-position: right;
        background-attachment: fixed;
    }

    .feed-comments > div {
        background-color: rgba(255, 255, 255, 0.8);
    }
</style>

<div class="container-fluid">
    <div class="row feed-background-image">
        <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
            <div class="m-2 p-2 my-5 py-2" style="background-color: rgba(255, 245, 200, 0);">
                <div class="col-sm-12 col-md-11 col-lg-10 mx-auto" style="background-color: rgba(255, 255, 255, 0.8);">
                    @if (Model.Topic == null)
                    {
                        <div class="d-flex flex-column">
                            <div class="text-center">
                                <h5>Oops, unfortunately somethind went wrong</h5>
                            </div>
                            <div class="mx-auto">
                                <img src="~/images/svg/not-found.svg" alt="Alternate Text" width="600" height="400" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="py-2">
                            <div class="my-2">
                                <h3 style="font-weight: 600;">@Model.Topic.Title</h3>
                            </div>
                            <div class="my-4">
                                <div class="d-flex">
                                    <div class="m-2">
                                        @*<img src="https://picsum.photos/50/50" alt="Alternate Text" style="border-radius: 50%;" />*@
                                        <img src="@Model.Topic.AuthorProfileImage" alt="Alternate Text" style="border-radius: 50%;" width="50" height="50" />
                                    </div>
                                    <div class="m-2 mx-4">
                                        <div class="d-flex flex-column flex-wrap">
                                            <p class="font-weight-bold m-0">@Model.Topic.Author</p>
                                            <p class="m-0">@Model.Topic.Created</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my-2">
                                <p>@Model.Topic.Question</p>
                            </div>
                            <div class="mt-4 mx-2">
                                <button class="btn" style="width: 50px; height: 50px; border-radius: 60px; background-color: #4a2aeb;">
                                    <i class="far fa-heart" style="font-size: 24px; margin: 0px; padding: 0px; color: white;"></i>
                                </button>
                                <span class="mx-4" style="font-weight: bold;"><span>@Model.Topic.NumberOfLikes</span> likes</span>
                            </div>
                        </div>
                    }
                </div>

                <div class="col-sm-12 col-md-11 col-lg-10 mx-auto" style="background-color: rgba(255, 255, 255, 0.8);">
                    <div class="py-2 mt-5 mb-3">
                        <h4><span id="answers-count">12</span> Answers</h4>
                    </div>
                    <hr />
                </div>

                <div class="col-sm-12 col-md-11 col-lg-10 p-0 mx-auto feed-comments" id="answers-area">
                    <div class="p-2 my-2">
                        <div class="my-2">
                            <div class="d-flex">
                                <div class="m-2">
                                    <img src="https://picsum.photos/40/40" alt="Alternate Text" style="border-radius: 50%;" />
                                </div>
                                <div class="m-2 mx-4">
                                    <div class="d-flex flex-column flex-wrap">
                                        <p class="font-weight-bold m-0">Denys Vyskrebets</p>
                                        <p class="m-0">4 days ago</p>
                                    </div>
                                </div>
                                <div class="m-2 ">
                                    <span class="badge badge-pill badge-success p-2">Best answer</span>
                                </div>
                            </div>
                        </div>
                        <div class="my-2">
                            <p>
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                e velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. sunt in culpa qui officia deserunt
                                mollit anim id est laborum."
                            </p>
                        </div>
                        <div class="my-2">
                            <p>
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                e velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. sunt in culpa qui officia deserunt
                                mollit anim id est laborum."
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-11 col-lg-10 mx-auto my-5" style="background-color: rgba(255, 255, 255, 0.9);">
                    <div class="py-2 my-2">
                        <form method="post">
                            <input asp-for="Input.TopicId" type="hidden" value="@Model.TopicId" />
                            <div class="form-group">
                                <label for="exampleInputPassword1">Your answer</label>
                                <input asp-for="Input.Answer" type="text" class="form-control" id="exampleInputPassword1" placeholder="I think I can help you. ....">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<template id="template">
    <div class="p-2 my-2">
        <div class="my-2">
            <div class="d-flex">
                <div class="m-2">
                    <img id="answer-image" src="https://picsum.photos/40/40" alt="Alternate Text" style="border-radius: 50%;" width="50" height="50" />
                </div>
                <div class="m-2 mx-4">
                    <div class="d-flex flex-column flex-wrap">
                        <p class="font-weight-bold m-0" id="answer-author">Denys Vyskrebets</p>
                        <p class="m-0" id="answer-date">4 days ago</p>
                    </div>
                </div>
                <div class="m-2" id="answer-badge">
                    <span class="badge badge-pill badge-success p-2">Best answer</span>
                </div>
            </div>
        </div>
        <div class="my-2">
            <p id="answer-content">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                e velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                occaecat cupidatat non proident, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. sunt in culpa qui officia deserunt
                mollit anim id est laborum."
            </p>
        </div>
    </div>
</template>

<script>
        window.onload = function () {
            findAnswers();
        }

    const webRoot = '@Model.WebRoot';
    const topicId = '@Model.TopicId';


        async function findAnswers() {
            await fetch(webRoot + '/api/forum/answers?topicId=' + topicId, {
                method: 'GET'
            })
                .then(response => response.json())
                .then(data => _displayVideos(data))
                .catch(error => console.error('Unable to get items.', error));
        }

        function _displayVideos(data) {
            const container = document.getElementById('answers-area');
            container.innerHTML = '';

            data.forEach(item => {
                let newDiv = document.importNode(template.content, true);

                newDiv.getElementById('answer-author').textContent = item.authorName;
                newDiv.getElementById('answer-date').textContent = item.created;
                newDiv.getElementById('answer-content').textContent = item.content;
                newDiv.getElementById('answer-image').src = item.authorProfileImage;

                if (item.isRightAnswer == "True") {
                    newDiv.getElementById('answer-badge').innerHTML = '<span class="badge badge-pill badge-success p-2">Right answer</span>';
                }

                container.append(newDiv);
            })

            document.getElementById('answers-count').textContent = data.length;
        }
</script>