@model Topic
@{
    ViewData["Title"] = "Forum";
}


@if (User.Identity.IsAuthenticated)
{
    <form method="get" action="CreateTopic">
        <button type="submit" style="left:88%; margin-top:11px; width:120px;
            z-index:1;" class="position-absolute btn btn-primary text-center">
            Create post
        </button>
    </form>
}


<div style="width:100%; height:100%; background: #f2f2f2; z-index:-1;" class="mx-auto">

    <div style="width:90%; padding-top:10px ;" class="mx-auto">
        @foreach (var x in ViewBag.Topics)
        {
            <div style=" width: 100%; " class="row text-left border border-dark mb-4">
                <div class="col-1" style="padding-top: 1%; padding-bottom: 4%;padding-left:1%;">
                    <img src='@Url.Action("getImgByIdAsync", "Home", new { id = x.Creator.Id }) ' alt="" style="border-radius: 100px; border:1px solid black; width:58px; height:58px">

                </div>

                <div class="col-11">
                    <p>
                        @x.Creator.Nickname      @x.CreatingTime
                    </p>
                    <hr style="margin-top: -2%;margin-bottom: 0%" />
                    <h3><a asp-action="TopicView" asp-controller="home" asp-route-id="@x.Id" style="color:black">@x.Theme</a></h3>

                    @if (x.Content.Length > 250)
                    {<p class="" style="white-space: normal;">@x.Content.Substring(0, 250)...</p>}
                else
                { @x.Content}


                </div>

            </div>
        }
    </div>
</div>